[Unit]
Description=Example .NET Web API App running on Ubuntu

[Service]
WorkingDirectory=/home/vync/backend
ExecStart=/usr/bin/sudo /snap/bin/dotnet /home/vync/backend/QuickApp.dll
Restart=always
# Restart service after 10 seconds if the dotnet service crashes:
RestartSec=90
KillSignal=SIGINT
SyslogIdentifier=dotnet-example
User=vync
Environment=ASPNETCORE_ENVIRONMENT=Test
Environment=DOTNET_PRINT_TELEMETRY_MESSAGE=false

[Install]
WantedBy=multi-user.target